@import 'nib';

.hslider {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height 24px;
  padding: 11px;
  border: 1px solid black;
}

.hslider-bg {
  absolute:  left 0px top 0px right 0px bottom 0px;
  background-color: lightblue;
}

.hslider-button {
  absolute: top 0px left 0px;
  margin-left: -10px;
  margin-top: -10px;
  width: 20px;
  height: 20px;

  background-color: red;
}

.hslider-button-hover {
  background-color: blue;
}