@import '../core/base';

.button  {
  @extends .core, .core-action;

  text-align: center;

  color: $btn.color.default;
  background-color: $btn.bgColor.default;
  //border: 1px solid $c.borderColor.default;

  transition: background-color 0.2s ease-out;

  margin-bottom : 10px;
  margin-top : 10px;
  cursor: pointer;
}

.button-active {
  padding-top: 1px;
  background-color: $btn.bgColor.default - $btn.const.active;
}

.button-hover {
  background-color: $btn.bgColor.default + $btn.const.hover;
}

.button-selected {
  font-weight: bold;
  background-color: $btn.bgColor.default - $btn.const.selected;
}

.button-selected-hover {
  background-color: $btn.bgColor.default + $btn.const.selectedHover;
}

.button-disabled {
  background-color: $btn.bgColor.disabled !important;
  cursor: auto !important;
}

createButton($name, $bgColor, $color, $bgColorDisabled = $btn.bgColor.disabled, $colorDisabled = $btn.color.disabled) {
  .button.button-{$name} {
    background-color: $bgColor;
    color: $color;
  }
  .button-active.button-{$name} {
    background-color: $bgColor - $btn.const.active;
  }
  .button-hover.button-{$name} {
    background-color: $bgColor + $btn.const.hover;
  }
  .button-selected.button-{$name} {
    background-color: $bgColor - $btn.const.selected;
  }
  .button-selected-hover.button-{$name} {
    background-color: $bgColor + $btn.const.selectedHover;
  }
  .button-disabled.button-{$name} {
    background-color: $bgColorDisabled !important;
  }
}


createButton('apply', $btn.bgColor.apply, $btn.color.apply);
createButton('cancel', $btn.bgColor.cancel, $btn.color.cancel);






