@import '../core/base';

.roundcorner-hgroup {

  .button {
    border-radius: 0;
  }

  .button:first-child {
    border-top-left-radius: $c.radius.element;
    border-bottom-left-radius: $c.radius.element;
  }

  .button:last-child {
    border-top-right-radius: $c.radius.element;
    border-bottom-right-radius: $c.radius.element;
  }

}

.roundcorner-vgroup {

  * {
    display: block;
    margin: 0;
  }

  .button {
    border-radius: 0;
  }

  .button:first-child {
    border-top-left-radius: $c.radius.element;
    border-top-right-radius: $c.radius.element;
  }

  .button:last-child {
    border-bottom-left-radius: $c.radius.element;
    border-bottom-right-radius: $c.radius.element;

  }

}

