@import '../core/base';

.input, .textarea {
  @extends .core;

  display: block;
  width: 100%;

  border-radius: $c.radius.element;
  border: 1px solid $c.borderColor.default;
}

.textarea {
  line-height: 1.8rem;
  min-height: 3.8rem;
}

.input-error, .textarea-error {
  border: 1px solid red;
}