@import '../core/base';


$border-size = 1px;
$progress-size = 4px;
$base-size = 1em;

.hslider {
  position: relative;
  box-sizing: border-box;

  min-width: 100px;
  height: $base-size*2;
  padding: $base-size;
  padding-bottom: ($base-size - $progress-size/2);
}

.hslider-bg {
  position: relative;
  margin-top: - ($progress-size/2);
  height: $progress-size;
  background-color: $slider.bgColor;
}


.hslider-pg {
  absolute: top 0 left 0;
  height: $progress-size;
  width: 0;
  background-color: $slider.fgColor;
}


.hslider-button {
  @extends .core-action;
  position: absolute;

  margin-top: ($progress-size/2);
  top:  - $base-size;
  right: - $base-size;

  width: $base-size*2;
  height: $base-size*2;
  background-color: $slider.dragger.bgColor;

}

.hslider-button-hover {
  background-color: $slider.dragger.bgColorHover;
}

.hslider-button-selected {
  background-color: $slider.dragger.bgColorSelected;
}