$inner-margin = 12px;
.hslider {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height 24px;
  padding $inner-margin
  border: 1px solid black;
}

.hslider-bg {
  //absolute:  left $inner-margin top 0px right $inner-margin bottom 0px;
  position: relative;
  margin-top: -2px;
  height: 4px;
  background-color: lightblue;
}

.hslider-pg {
  absolute: top 0px left 0px;
  height: 4px;
  width: 0;
  background-color: blue;
}


.hslider-button {
  absolute: top -10px right -12px;
  width: 24px;
  height: 24px;
  background-color: red;

}

.hslider-button-selected {
  background-color: blue;
}