.button {
  display: inline-block;
  min-width: 120px;
  width: 100;
  background-color: #0a0;
  color: #fff;
  font-size: +1;
}

.button-hover {
  background-color: #0f0;
}

.button-selected {
  font-weight:bold;
  border-bottom: 2px solid black;
}