<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <title>Тестирование fastmvc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="todo-mvc/css/bootstrap.css" rel="stylesheet">
    <link href="todo-mvc/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="todo-mvc/css/docs.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <![endif]-->

    <script src="todo-mvc/js/underscore.js"></script>
    <script src="todo-mvc/js/jquery-1.10.2.js"></script>
    <script src="../src/fmvc/notifier.js"></script>
    <script src="../src/fmvc/event.js"></script>
    <script src="../src/fmvc/facade.js"></script>
    <script src="../src/fmvc/logger.js"></script>
    <script src="../src/fmvc/mediator.js"></script>
    <script src="../src/fmvc/model.js"></script>
    <script src="../src/fmvc/view.i.js"></script>
    <script src="../src/fmvc/view.js"></script>

    <script src="src/tests/tests.js"></script>

    <script src="todo-mvc/js/basis-template-1.0.js"></script>
</head>
<body>
<div id="content">
    <div class="input-append">
        <div class="btn-group" id="search" data-view='TestView'>
            <input id="searchInput" type="text" placeholder="Искать…">
            <a id='addButton' class="btn add-btn"><i class="icon-plus-sign"></i></a>
            <a id='removeButton' class="btn remove-btn"><i class="icon-minus-sign"></i></a>
            <a id='closeButton' class="close-btn"><i class="icon-remove-circle"></i></a>
        </div>
    </div>
    <div id="modelContent"></div>
    <div id="listModelContent" data-view='TestListView'>
        <div class="Class1">{data.content}</div>
        <div class="Class2">{data.result}</div>
        <div></div>
    </div>
</div>


<script type="text/html" id='template'>
    <ul>
        <%
        for (var i in data)
        {
        var item = data[i];
        %>
        <li data-id='<%= i %>' class='enable-default'>
            <span class="default"><%= item.data %></span>
            <span class="edit"><input type="text" class="edit" value="<%= item.data %>"/></span>
        </li>
        <% } %>
    </ul>
</script>

<script type="text/basis" id='template.basis'>
    <li data-id='{data.index}' class='{data.enable}'>
            <span class="default" event-dblclick='item-dblclick'>{data.data}</span>
            <span class="edit"><input type="text" class="edit" value="{data.data}" event-keypress='item-change'/></span>
    </li>
</script>

</body>
</html>