@import 'nib';
@import 'config';


body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $c.fontSize.default;


  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*[contenteditable] {
  -webkit-user-select: auto !important;
}

.core {
  position: relative;
  display: inline-block;

  box-sizing: border-box;

  vertical-align: top;

  line-height: 2.6em;
  height: 2.6em;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;

  text-overflow: ellipsis;
  white-space: nowrap;

  min-width: 60px;
  width: auto;

  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.core-action {
  position: relative;
  display: inline-block;

  box-sizing: border-box;

  cursor: pointer;
  border-radius: $c.radius.element;
}

borderBox($borderColor, $borderRadius, $backgroundColor) {
    position: relative;
    display: block;
    box-sizing: border-box;
    background: $backgroundColor;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
};

absTopLeft($top, $left, $width, $height) {
  position: absolute;
  top: $top;
  left: $left;

  if width {
    width: $width;
  }

  if height {
    height: $height;
  }
}

absTopRight($top, $right, $width, $height) {
  position: absolute;
  top: $top;
  right: $right;

  if width {
    width: $width;
  }

  if height {
    height: $height;
  }
}


/**
Disable swipe left/right IE default behaivor prev/next page

The solution is simple, you just need to add a CSS style that prevents scroll behavior from bubbling up from child elements that have reached their scroll limit, to parent elements (where the scroll eventually turns into a top-level history navigation).
*/
* {
  -ms-scroll-chaining: none;
}
