$c = {
  fontSize : {
    default: 13px
  },

  color: {
    default: #000,
  },

  bgColor: {
    default: #fff,
  },

  radius: {
    container: 4px,
    inner: 3px
    element: 3px
  }

  borderColor: {
    default: #e1e1e1
  }
};

$btn = {
  const: {
    hover: #333,
    selected: #222,
    selectedHover: #111,
    active: #333,
  },

 color: {
    default: $c.color.default,
    disabled: $c.color.default,
    apply: #fff,
    cancel:  #fff,
    service: $c.color.default,
  },

  bgColor: {
    default: #efefef,
    disabled: #ccc,
    apply: blue,
    cancel: red,
    service: yellow
  }
};


$slider = {
  bgColor: #fff,
  pgColor: #efefef,

  dragger: {
    bgColorSelected: lightblue,
    bgColorHover: red,
    bgColor: blue,
  }
};

