$c = {
  fontSize : {
    default: 12px
  },

  color: {
    default: #000,
  },

  bgColor: {
    default: #fff,
  },

  radius: {
    container: .33rem,
    inner: .25rem,
    element: .25rem,
  }

  borderColor: {
    default: #e1e1e1
  }
};

$btn = {
  const: {
    hover: #333,
    selected: #222,
    selectedHover: #111,
    active: #333,
  },

 color: {
    default: $c.color.default,
    disabled: $c.color.default,
    apply: #fff,
    cancel:  #fff,
    service: $c.color.default,
  },

  bgColor: {
    default: #efefef,
    disabled: #ccc,
    apply: blue,
    cancel: red,
    service: yellow
  }
};


$slider = {
  fgColor: blue,
  bgColor: #fff,
  pgColor: #efefef,

  dragger: {
    bgColorSelected: darkred,
    bgColorHover: red,
    bgColor: blue,
  }
};

