
.absolute-fill-bottom {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.absolute-fill-top {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}